.Treechat-container {
  margin: 0;
  width: 96vw;
  padding: 2vw;
  font-size: 5vw;
  overflow: scroll;
}

.Treechat-full-container {
  height: calc(100vh - 4vw);
  text-align: center;
}

.Treechat-theme-green {
  background-color: #780;
  color: #eee;
}

.Treechat-theme-white {
  background-color: #eee;
  color: #780;
}

.Treechat-theme-blue {
  background-color: #08b;
  color: #eee;
}

.Treechat-theme-grey {
  background-color: #22252A;
  color: #eee;
}

.Treechat-theme-red {
  background-color: #921;
  color: #eee;
}

.Treechat-section-header {
  text-align: center;
  margin: 2vh 0 2vh 0;
}

.Treechat-input-box {
  margin: 1vw;
  display: block;
  color: #780;
  font-family: sans-serif;
  width: 92.5vw;
  font-size: 5vw;
}

.Treechat-circle-icon-image {
  border-radius: 10vw;
  width: 10vw;
  height: 10vw;
}

.Treechat-circle-icon-image-large {
  border-radius: 15vw;
  width: 15vw;
  height: 15vw;
  display: inline-block;
  margin: 0 2vw 0 1vw;
}
